body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 2em;
}

.header h2 {
    margin: 0;
    font-size: 1.2em;
    font-weight: normal;
}

.panel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.panel {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 200px; /* Ensures items have a minimum width */
}

.historic-section {
    order: 1;
}

.passport-section {
    order: 2;
}

.bank-section {
    order: 3;
}

.panel label {
    font-weight: bold;
    margin-bottom: 10px;
}

.panel img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.panel img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .panel-container {
        flex-direction: column;
    }
}

.logout {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.logout img {
    width: 40px;
}
